.gallery{
    min-height: 315px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    flex-wrap: wrap;
}
.gallery img{
    margin: 10px;
    width: 200px;
}
